/*
*  Stylesheet for custom admin menus Volcanno framework
*/

.wf-theme-page{
    margin: 0 15px;
}

.wf-theme-page .page-header{
    margin-top: 20px;
    background: #222;
    padding: 10px 20px 15px;
    border-bottom: 3px solid #0074a2;
}

.wf-theme-page .page-header h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}

.wf-theme-page .page-header small{
    color: #bbb;
}

.wf-theme-page .page-content{
    background: #FCFCFC;
    border: 1px solid #D8D8D8;
}

.wf-theme-page .page-content .warning{
    padding: 0 20px;
}

.wf-theme-page .page-content .warning a{
    color: #fff;
}

.wf-theme-page .page-content .warning a:hover{
    opacity: 0.8;
}

.wf-theme-page .page-content .warning p{
    background: #fff;
    padding: 10px;
    border: 1px solid #eee;
    border-left: 4px solid #d54e21;
    border-radius: 3px 0 0 3px;
}

.wf-theme-page .page-content{
    padding: 30px 20px 20px;
    overflow: hidden;
}

.wf-theme-page .page-content .theme-image,
.wf-theme-page .page-content .theme-info{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.wf-theme-page .page-content .theme-image img{
    width: 100%;
}

.wf-theme-page .page-content .theme-info{
    padding-left: 20px;
    box-sizing: border-box;
}

.wf-theme-page .page-content .theme-info h2{
    margin-bottom: 20px;
    margin-top: 10px;
}

.wf-theme-page .page-content .theme-info label{
    font-weight: bold;
}

.wf-theme-page .page-content .theme-documentation{
    clear: both;
    padding-top: 20px;
}

.wf-theme-page .page-content .theme-documentation .open-docs{
    background: #0074a2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block
}

.wf-theme-page .page-content .theme-support,
.wf-theme-page .page-content .theme-updates{
    clear: both;
    padding-top: 20px;
}

/* Styles for Icon Fonts page */

.wf-icon-fonts{
    margin-left: 15px;
}

.wf-icon-fonts div.updated{
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wf-icon-fonts-return{
    margin-top: 10px;
    display: block;
    
}
 